$font-main: Kadwa;

$font-fallback: ui-sans-serif, system-ui, -apple-system,
BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
"Noto Color Emoji";

$root-font-size: 12px;

// defaults
html, body, h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: $font-main, $font-fallback;
  // The root font size upon which all REMs are dependent.
  font-size: $root-font-size;
  color: $font-main-color;
  line-height: 1.5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}
