<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a href="/"><span class="mdl-layout-title">TicTacToe</span></a>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation navigation">
      <LinkTo class="mdl-navigation__link navigation__link" @route="new">New Game</LinkTo>
      <a class="mdl-navigation__link navigation__link" href="https://github.com/arabyalhomsi/tic-tac-toe/tree/feedbackfruits">Github</a>
    </nav>
  </div>
</header>
