{{page-title "TicTacToe"}}
<div class="mdl-layout__container">
  <div class="mdl-layout mdl-js-layout">
    <NavigationHeader />
    <main class="mdl-layout__content">
      <div class="page-content">
        {{outlet}}
      </div>
    </main>
  </div>
</div>
